<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SCFacturacion.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SCFacturacion.BLL.Properties.Settings>
            <setting name="SCFacturacion_BLL_ServiceFacturacion_WebServiceCFDI"
                serializeAs="String">
                <value>http://74.50.117.161:100/WebServiceCFDI.asmx</value>
            </setting>
        </SCFacturacion.BLL.Properties.Settings>
    </applicationSettings>
</configuration>